# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data.columns

FileNotFoundError: [Errno 2] File b'Resources/schools_complete.csv' does not exist: b'Resources/schools_complete.csv'

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
total_schools = school_data_complete ["school_name"].nunique()
total_students = school_data_complete["student_name"].count()
total_budget = school_data ["budget"].sum()
average_math_score = school_data_complete ["math_score"]. mean()
average_reading_score = school_data_complete ["reading_score"].mean()
overall_passing_rate = (average_math_score + average_reading_score)/2
math_passing_score = ((school_data_complete ["math_score"] >=70)*100).mean()
reading_passing_score = ((school_data_complete["reading_score"] >=70)*100).mean()
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math" : [math_passing_score],
    "% Passing Reading" : [reading_passing_score],
    "% Overall Passing Rate" : [overall_passing_rate]})
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map(
    "${:,.2f}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].astype(float).map(
    "{:,.0f}".format)
district_summary_df

NameError: name 'school_data_complete' is not defined

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [1]:
school_summary_df = school_data[["school_name", "type", "size", "budget"]]
school_summary_df ["Per Student Budget"] = (school_data["budget"])/(school_data["size"])
school_summary_df

NameError: name 'school_data' is not defined

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928
21189,21189,Jennifer Miller,F,11th,Bailey High School,95,83,7,District,4976,3124928
21188,21188,Jeffrey Roman,M,11th,Bailey High School,96,76,7,District,4976,3124928
21187,21187,Kathleen Cole,F,11th,Bailey High School,89,77,7,District,4976,3124928
21186,21186,Dr. Terry Sanchez,M,10th,Bailey High School,95,85,7,District,4976,3124928
21185,21185,Alex Carey,M,10th,Bailey High School,83,57,7,District,4976,3124928
21184,21184,Matthew Watkins,M,10th,Bailey High School,85,60,7,District,4976,3124928
21183,21183,Juan Burke,M,11th,Bailey High School,65,92,7,District,4976,3124928
21182,21182,Michael Kennedy,M,9th,Bailey High School,75,64,7,District,4976,3124928
21181,21181,Benjamin Meyer,M,10th,Bailey High School,93,90,7,District,4976,3124928
21180,21180,Matthew Bridges,M,10th,Bailey High School,76,98,7,District,4976,3124928
21179,21179,Sheri Fletcher,F,12th,Bailey High School,78,87,7,District,4976,3124928
21194,21194,Robert Goodman,M,12th,Bailey High School,93,90,7,District,4976,3124928
21178,21178,Todd Adams,M,11th,Bailey High School,71,91,7,District,4976,3124928
21195,21195,Mr. Scott Sexton,M,11th,Bailey High School,82,69,7,District,4976,3124928
21197,21197,Kelly Stewart,F,12th,Bailey High School,91,93,7,District,4976,3124928
21212,21212,Bailey Price,F,10th,Bailey High School,74,61,7,District,4976,3124928
21211,21211,William Wright,M,11th,Bailey High School,70,65,7,District,4976,3124928
21210,21210,Michelle Brandt,F,10th,Bailey High School,73,73,7,District,4976,3124928
21209,21209,Debbie Gray,F,11th,Bailey High School,92,93,7,District,4976,3124928
21208,21208,Rhonda Lynch,F,9th,Bailey High School,69,58,7,District,4976,3124928
21207,21207,Christine Elliott,F,10th,Bailey High School,74,71,7,District,4976,3124928
21206,21206,Yvette Harrington,F,11th,Bailey High School,89,73,7,District,4976,3124928
21205,21205,Christopher Davis,M,9th,Bailey High School,65,99,7,District,4976,3124928
21204,21204,Meagan Whitney,F,9th,Bailey High School,66,56,7,District,4976,3124928
21203,21203,Jordan Christensen,M,11th,Bailey High School,70,88,7,District,4976,3124928
...,...,...,...,...,...,...,...,...,...,...,...
24824,24824,Samantha Lee,F,11th,Wright High School,86,91,10,Charter,1800,1049400
24825,24825,Ryan Armstrong,M,9th,Wright High School,87,92,10,Charter,1800,1049400
24826,24826,Shelby Holmes,F,11th,Wright High School,78,94,10,Charter,1800,1049400
24851,24851,Heather Cobb,F,10th,Wright High School,95,84,10,Charter,1800,1049400
24850,24850,Annette Robertson,F,11th,Wright High School,91,73,10,Charter,1800,1049400
24849,24849,Logan Burgess,M,9th,Wright High School,87,83,10,Charter,1800,1049400
24848,24848,Kayla Evans,F,11th,Wright High School,69,85,10,Charter,1800,1049400
24847,24847,Laura Scott,F,9th,Wright High School,89,77,10,Charter,1800,1049400
24846,24846,Joseph Murray,M,12th,Wright High School,75,89,10,Charter,1800,1049400
24845,24845,Elizabeth Torres,F,9th,Wright High School,89,94,10,Charter,1800,1049400
24844,24844,Seth Schmitt,M,10th,Wright High School,77,99,10,Charter,1800,1049400
24843,24843,Michael Johnson,M,12th,Wright High School,94,72,10,Charter,1800,1049400
24842,24842,Susan Owens,F,11th,Wright High School,71,83,10,Charter,1800,1049400
24841,24841,Beth Weaver,F,9th,Wright High School,76,69,10,Charter,1800,1049400
24840,24840,Angela Jones,F,11th,Wright High School,92,70,10,Charter,1800,1049400
24839,24839,Michelle Herrera,F,10th,Wright High School,77,93,10,Charter,1800,1049400
24838,24838,Mary Hill,F,9th,Wright High School,79,68,10,Charter,1800,1049400
24837,24837,Pamela Phillips,F,11th,Wright High School,75,87,10,Charter,1800,1049400
24836,24836,Joseph Jones,M,9th,Wright High School,89,75,10,Charter,1800,1049400
24835,24835,Samuel Martin,M,10th,Wright High School,76,79,10,Charter,1800,1049400
24834,24834,Dawn Hopkins,F,10th,Wright High School,83,86,10,Charter,1800,1049400
24833,24833,Melissa King,F,12th,Wright High School,75,91,10,Charter,1800,1049400
24832,24832,Jessica Thornton,F,10th,Wright High School,72,99,10,Charter,1800,1049400
24831,24831,Kimberly Mclaughlin,F,12th,Wright High School,71,83,10,Charter,1800,1049400
24830,24830,Eric White,M,10th,Wright High School,95,81,10,Charter,1800,1049400
24829,24829,John Lozano,M,11th,Wright High School,84,77,10,Charter,1800,1049400
24828,24828,Jonathan Thomas,M,12th,Wright High School,95,80,10,Charter,1800,1049400
24827,24827,Lori Ramirez,F,10th,Wright High School,74,74,10,Charter,1800,1049400
24797,24797,Scott Scott,M,10th,Wright High School,90,83,10,Charter,1800,1049400
26035,26035,Michael Holmes,M,9th,Wright High School,98,80,10,Charter,1800,1049400

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757